@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('SF Pro Text'), url('./../fonts/SFProText-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: local('SF Pro Display'), url('./../fonts/SFProDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: local('SF Pro Display'), url('./../fonts/SFProDisplay-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: local('SF Pro Display'), url('./../fonts/SFProDisplay-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: local('SF Pro Display'), url('./../fonts/SFProDisplay-Bold.woff2') format('woff2');
}


:root {
    /*  Family  */
    --body-font : 'SF Pro Display', sans-serif;
    --display-font : 'SF Pro Display', sans-serif;

    /*  Body size  */
    --smaller-body-size : 0.75rem; /*12px*/
    --big-body-size : 1.25rem; /*20px*/
    --bigger-body-size : 1.5rem;  /*24px*/

    /*  Title font size  */
    --small-title-size : 2rem; /*23px*/
    --normal-title-size : 2.5rem; /*40px*/
    --big-title-size : 2.5rem; /*40px*/
    --bigger-title-size : 2.5rem; /*40px*/

    /*  Weight  */
    --normal-font : 400;
    --medium-font : 500;
    --semi-bold-font : 600;
    --bold-font : 700;

    /*  Line height  */
    --title-line-height : 1.15;
}

@media screen and (min-width : 734px) {

    :root {

        /*  Body font size  */
        --big-body-size : 1.5rem; /* 24px*/
        --bigger-body-size : 1.75rem;  /* 28px*/
    
        /*  Title font size  */
        --small-title-size : 2.5rem; /* 40px*/
        --bigger-title-size : 4rem; /* 64px*/
    }
}

@media screen and (min-width : 1024px) {

    :root {

        /*  Body size  */
        --smaller-body-size : 1rem; /* 16px*/
        --normal-body-size : 1.25rem /* 20px*/
        --big-body-size : 1.75rem; /* 28px*/
        --bigger-body-size : 2rem;  /* 32px*/
    
        /*  Title font size  */
        --small-title-size : 3rem; /* 48px*/
        --normal-title-size : 3.5rem; /* 56px*/
        --big-title-size : 4rem; /* 64px*/
        --bigger-title-size : 5rem; /* 80px*/
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--display-font);
    font-weight: var(--)var(--semi-bold-font);
}

.display-font {
    font-family: var(--display-font);
}

.body-font {
    font-family: var(--body-font);
}
/*  END FONT  */



/*  BASE  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  Color  */
    --text-color : #fff;
    --text-color-alt: #a1a1a6;
    --accent-color : #0071e3;
    --accent-color-alt: #2997ff;
    --body-bg: #000;
    /* --bg-color : #151516;
    --bg-color-alt : #1f1d1e; */
    --bg-color : #9810c2;
    --bg-color-alt : #1f1d1e;

    /*  Stacking context  */
    --z-negative: -1;
    --z-normal: 1;
    --z-sticky: 50;

    /*  Utils  */
    --header-height : 3rem;
}
html {
    scroll-padding-top: calc(var(--header-height) + 1rem);
    scroll-behavior: smooth;
}

body {
    /* color: var(--text-color); */
    color: #000;
    font-family: var(--body-font);
    /* background-color: var(--body-bg); */
    overflow-x: hidden;
}

button {
    all : unset;
    cursor: pointer;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.black-background {
    background-color: var(--bg-color);
}

.black-background-alt {
    background-color: var(--bg-color-alt);
}

/* Layout */

.place-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-inline: auto;
    width: 87.5%;
    max-width: calc(17.5rem + 4rem);
}

@media screen and (min-width : 734px) {
    .container {
        width: 100%;
        max-width: 43.25rem;
    }
}

@media screen and (min-width : 1024px) {
    .container {
        max-width: 61.25rem;
    }
}

/*ELIMINAR*/
.section-placeholder {
    min-height: 100vh;
}



/* END Layout */
/*   END BASE */




/* MAIN HEADER*/
.main-header {
    --header-border : 1px solid rgba(255, 255, 255, 0.25);
    position: sticky;
    top: 0;
    height: var(--header-height);
    z-index: var(--z-sticky);
    background-color: var(--bg-color-alt);
}

.main-header .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .title {
    color: var(--text-color);
    font-weight: var(--semi-bold-font);
    font-size: var(--normal-body-size);
    text-decoration: none;
}

.main-header .main-menu {
    list-style: none;
    font-size: var(--smaller-body-size);
}

.main-menu .link {
    color: var(--text-color);
}

.main-menu .link:hover {
    color: var(--accent-color-alt);
    text-decoration: none;
}


/*  styles from TABLETA  */
@media screen and (min-width: 734px){
    .main-header {
        border-bottom: var(--header-border);
    }

    .main-header .right,
    .main-menu {
        gap: 1.5rem;
    }

    .main-menu {
        display: flex;
    }

    .menu-button {
        display: none;
    }
}
/*  END styles from TABLETA  */


/*  styles from DESTOCK  */
@media screen and (max-width: 1024px){
    .main-header .nav {
        max-width: calc(100% - 3rem);
    }
}
/*  END styles from DESTOCK  */



/*  styles from MOVIL  */
@media screen and (max-width : 734px) {

    .main-header {
        --transition-menu : 500ms;
    }

    .main-header .nav {
        max-width: calc(100% - 2rem);
    }

    .main-menu {
        position: absolute;
        top: var(--header-height);
        left: 0;
        padding: 0.25rem 2.5rem 1.5rem;
        width: 50%;
        height: 100vh;
        border-bottom: var(--header-border);
        background-color: var(--bg-color-alt);

        /* Animation*/
        transform: translateY(-100%);
        overflow: hidden;
        transition: transform var(--transition-menu) var(--transition-menu);
        z-index: var(--z-negative);
    }

    .main-menu .item {
        transform: translateY(-100%);
        opacity: 0;
        transition: transform var(--transition-menu), opacity var(--transition-menu);
    }

    .main-menu .item:first-of-type {
        transition-delay: 70ms;
    }
    .main-menu .item:nth-of-type(2) {
        transition-delay: 140ms;
    }
    .main-menu .item:nth-of-type(3) {
        transition-delay: 210ms;
    }

    .main-menu .item:not(:last-of-type){
        border-bottom: var(--header-border);
    }

    .main-menu .link {
        display: block;
        padding-block: 0.85rem;
        opacity: 0.9;
    }

    .main-header .menu-button {
        position: relative;
        width: 2rem;
        height: 2rem;
        opacity: 0.8;
    }

    .main-header .menu-button:hover {
        opacity: 1;
    }

    .main-header .menu-button::before,
    .main-header .menu-button::after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 0.75rem;
        background-color: #fff;
        transition: transform 1000ms cubic-bezier(0.86, 0, 0.07, 1);
    }

    .main-header .menu-button::before {
        left: 45%;

        transform: rotate(-40deg);
    }
    
    .main-header .menu-button::after {
        right: 45%;

        transform: rotate(40deg);
    }

    .main-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: opacity 1000ms 100ms;
        pointer-events: none;
        z-index: var(--z-normal);
    }

    /*  Menu activated  */
    .is-active .main-menu {
        transform: initial;
        transition-delay: 0s;
    }

    .is-active .main-menu .item {
        opacity: initial;
        transform: initial;
    }
    .is-active .main-menu .item:first-of-type {
        transition-delay: 560ms;
    }
    .is-active .main-menu .item:nth-of-type(2) {
        transition-delay: 490ms;
    }
    .is-active .main-menu .item:nth-of-type(3) {
        transition-delay: 420ms;
    }

    .is-active ~ .main-overlay {
        opacity: 1;
        pointer-events: initial;
    }

    .is-active .menu-button::before {
        left: 45%;
        transform: rotate(40deg);
    }
    .is-active .menu-button::after {
        right: 45%;
        transform: rotate(-40deg);
    }
}
/*  END styles from MOVIL  */



/* END MAIN HEADER*/